h2{
    text-align: left;
}
h1{
    text-align: left;
}
p{
    text-align: left;
}
h4{
    text-align: left;
    color: orangered;
}
h3{
    text-align: left;
}
h5{
    text-align: left;
}
.card{ 
    width: 150px;
    padding: 80px;
    margin: auto;
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 80px;
    
    


}
.maincard{ background-color:#E6EBF0  ;
    width: 100%;
    margin: auto;
    padding: 100px;
}
a{
    text-decoration: none;
    color: black;
}
